* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    direction: rtl;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    overflow-x: hidden;
    background-color: #eef3fcab;
}

 ::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 155);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 94, 94);
    border-radius: 10px;
}

* {
    font-family: 'Dosis';
    direction: ltr;
}

.AcountActions {
    width: 740px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

@media (max-width:740px) {
    .AcountActions {
        width: 100%;
    }
}